@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



/* Motor Card: */
.MotorCard {

background-color: transparent;
background-image: radial-gradient(circle at center, transparent 40%, white);

    overflow: hidden;

    position: relative ;
    display: grid;
    width: 344px;
    height: 400px;
    max-width: 344px;
    max-height: 400px;
    margin: 16px 16px 16px 16px;
    
    border-style: solid;
    border-radius: 16px;
    border-color: darkgray;

    grid-template-columns: 100%;
    grid-template-rows: 75% 25%;

    padding: 0px 0px 0px 0px;
    
    
  
}

/*Motor Image:*/
.MotorCard > img{
 
    width: 100%;
    height: 100%;
    background-color: transparent;

    
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    grid-row: 1 / span 2;
    grid-column: 1;
  
    

    background-repeat: no-repeat;
    object-fit:fill;

    align-self: stretch;
    justify-self: stretch;

    justify-content: stretch;
    align-content: stretch;

    position: relative;
    display:block;
    z-index: 1;
}



/* Motor Title Grid: */
.MotorCard > div {


    background-image: linear-gradient(to top, black 20%, rgba(0, 0, 0, 0.95) 30%, rgba(0, 0, 0, 0.90) 35%, rgba(0, 0, 0, 0.85) 40%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0.68) 60%, rgba(0, 0, 0, 0.55) 70%,   transparent) !important;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;

    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    height: 100%;
    width: 100%;

    grid-column: 1;

    display: flex;
    position: relative;
    z-index: 2;

    justify-content: stretch;

    align-items: stretch;
    justify-items: stretch;
    
    grid-row: 2 / 2;

}

/*Motor Title Area's text: */
.MotorCard > div > b{
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 32px;


    box-sizing: border-box;
    margin: auto;
    width: fit-content;
    height: fit-content;


    align-self: center;
    justify-self: center;
    text-align: center;

  


}

/*MotorCard's bottom image if the mouse enters the title area*/
.MotorCard > div > img{

    background-color: transparent;


    margin: auto;
    width: 80%;
    height: 80%;

    background-repeat: no-repeat;
    object-fit:fill;

    align-self: stretch;
    justify-self: stretch;


    justify-content: stretch;
    align-content: stretch;

    position: relative;
}

